<%- include('../partials/header.ejs') %>
<div id="welcomemsg">
<h3>My Cues</h3>
<table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Tone</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      
      
      <% cues.forEach(function(c) { %>
        <tr>
          <td><%= c.title %></td>
          <td><%= c.tone %></td>
          <td><%= c.cueContent %></td>
          <td><a href="/cues/<%= c._id %>">Bits</a></td>
        </tr>
     
      <% }); %>
      
     
    </tbody>
  </table>
</div>